.vc-jtf-container {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  z-index: 1;
  pointer-events: none;
  gap: 8px;
  opacity: 0.95;
  transition: opacity 0.15s;
}

.vc-jtf-container.left {
  justify-content: flex-start;
}
.vc-jtf-container.center {
  justify-content: center;
}
.vc-jtf-container.right {
  justify-content: flex-end;
  right: 28px;
}

.vc-jtf-container.containerMarginTop {
  top: 48px;
}
.vc-jtf-container.containerMarginTopExtra {
  top: 88px;
}

.vc-jtf-navigator {
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 32px;
  overflow: hidden;
}

.vc-jtf-navigator:hover .vc-jtf-button {
  color: var(--interactive-active);
}

.theme-dark .vc-jtf-navigator {
  background-color: var(--background-floating);
}
.theme-dark .vc-jtf-navigator:hover {
  background-color: var(--background-tertiary);
}

.theme-light .vc-jtf-navigator {
  background-color: var(--background-secondary);
}
.theme-light .vc-jtf-navigator:hover {
  background-color: var(--background-secondary-alt);
}

.vc-jtf-button {
  height: 16px;
  padding: 8px;
  cursor: pointer;
  color: var(--interactive-normal);
  transition: color.1s;
  border-radius: 50%;
}

.theme-dark .vc-jtf-button {
  background-color: var(--background-floating);
}
.theme-dark .vc-jtf-button:hover {
  background-color: var(--background-tertiary);
}

.theme-light .vc-jtf-button {
  background-color: var(--background-secondary);
}
.theme-light .vc-jtf-button:hover {
  background-color: var(--background-secondary-alt);
}

.vc-jtf-jumpSpinner {
  width: 16px;
  height: 16px;
}

.vc-jtf-icon {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}
